@import 'tailwindcss';

body {
    color: white;
    user-select: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top{
  display: flex;
  justify-content: center;
  align-items: start;
}

.red-letter::first-letter {
    color: red;
}


@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-20px) scale(1.2);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.2;
  }
}

.animate-float {
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
